[submodule "Plugins/DDTools"]
	path = Plugins/DDTools
	url = https://github.com/remap/DDTools.git
[submodule "Plugins/PlaybackCtrl"]
	path = Plugins/PlaybackCtrl
	url = https://github.com/remap/PlaybackCtrl.git
[submodule "Plugins/OSC"]
	path = Plugins/OSC
	url = https://github.com/bsubbaraman/UE4-OSC.git
[submodule "Plugins/FiducialRelocalizer"]
	path = Plugins/FiducialRelocalizer
	url = https://github.com/remap/FiducialRelocalizer.git
[submodule "Plugins/DDAugmented"]
	path = Plugins/DDAugmented
	url = https://github.com/peetonn/DDAugmented.git
[submodule "Plugins/WebCameraFeed"]
	path = Plugins/WebCameraFeed
	url = https://github.com/jburkeucla/WebCameraFeed.git
[submodule "Plugins/VideoCore"]
	path = Plugins/VideoCore
	url = https://github.com/remap/VideoCore.git
[submodule "Plugins/AppCenter"]
	path = Plugins/AppCenter
	url = https://github.com/PushkinStudio/AppCenter-SDK-UE4.git
[submodule "Plugins/UE4_EditorTools"]
	path = Plugins/UE4_EditorTools
	url = https://github.com/daricalouie/UE4_EditorTools.git
